






#headingone {
    
    padding: 51px;
    border-bottom: 1px solid black;
    

}

div {
    
    position: fixed; left: 450px; top: 213px;
        border-bottom: 2px solid black;
    
}

#pone {
    padding-top: 300px;
    padding-left: 220px;
}

#ptwo {
    padding-top: 500px
}


#pthree {
    
    padding-top: 500px;
    padding-left: 200px;
}

#pfour {
    padding-left: 50px;
}