
body {
    background-color: beige;
}
p {
    font-family: 'Gloria Hallelujah', cursive;
    
}

div {
       text-align: center;
 
     font-family: 'Gloria Hallelujah', cursive;
    color: red;
    font-size: 40px;
   
}

a {
    color: red;
   } 

